<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <title>Tailwind Local Setup</title>
    <link href="../dist/output.css" rel="stylesheet">
</head>
<body>
    <h1 class="text-3xl font-bold text-blue-500">Hello Contact!</h1>

    <div class="mt-4">
    <a href="/" class="text-white bg-blue-500 px-4 py-2 rounded"><i class="fas fa-home"></i> </a>
    </div>
</body>
</html>